:root {
  --121212: #121212;
  --BEDBB0: #bedbb0;
  --FFFFFF: #ffffff;
  --8FA1D0: #8fa1d0;
  --E09CB5: #e09cb5;
  --1F1F1F: #1f1f1f;
  --9DC888: #9dc888;
  --161616: #161616;
  --F6F6F7: #f6f6f7;
  --8FA1D0: #8fa1d0;
  --5255BC: #5255bc;
  --B8BCFD: #b8bcfd;
  --979CEA: #979cea;
  --7B7EDE: #7b7ede;
  --ECEDFD: #ecedfd;
  --welcomeBgColor: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 25%,
    #bedbb0 92.19%
  );
}

// dark theme
html[data-theme='dark'] {
  --121212: #121212;
  --BEDBB0: #bedbb0;
  --9DC888: #9dc888;
  ----1F1F1F: #1f1f1f;
}

// light theme
html[data-theme='light'] {
  --121212: #fdfdfd;
  --BEDBB0: #bedbb0;
  --9DC888: #9dc888;
  --1F1F1F: #f6f6f7;
}
